<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit User</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <img class="profilePic" [src]="item.profilePic">
        <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Profile</button>
      </div>
      <div class="col col-md-8">

        <form class="edit-form" [formGroup]="editUserForm" novalidate (ngSubmit)="onSubmit(editUserForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Name" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error *ngIf="editUserForm.get('name').hasError(validation.type) && (editUserForm.get('name').dirty || editUserForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Surname" class="form-control" formControlName="surname">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.surname">
              <mat-error *ngIf="editUserForm.get('surname').hasError(validation.type) && (editUserForm.get('surname').dirty || editUserForm.get('surname').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="number" min="0" max="100" placeholder="Age" class="form-control" formControlName="age">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.age">
              <mat-error *ngIf="editUserForm.get('age').hasError(validation.type) && (editUserForm.get('age').dirty || editUserForm.get('age').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!editUserForm.valid">Save</button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
